*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet

# Eclipse specific
/bin/
/target/
/.cache-main
/.classpath
/.project
/.settings/
/.cache-tests
/.DS_Store

# IntelliJ Idea
lexml-urn-formatter.iml
.idea/
*.iml**/*.swp
.*.swp
